<div class="container">
 <h3>シフト修正</h3>
 <%= form_with model: @work_scheduled, url: chart_path(@work_scheduled.id), local: true do |f| %>
   <div class="row mb-3">
    <div class="col-12">
     <div class="form-grop">
       <div class="table-responsive">
       <table class="">
        <tr>
          <td nowrap class="text-right"><h4>開始時間</h4></td>
          <td nowrap class="text-right"><h4>終了時間</h4></td>
        </tr>
          <td nowrap ><%= f.datetime_select :time_in  %></td>
          <td nowrap class="text-right"><%= f.datetime_select :time_out, datetime_separator:'　' %></td>
        </tr>
        <tr>
          <td>
            <%= link_to "削除", chart_path(@work_scheduled), method: :delete, data: {confirm: "本当にいいですか？"}, class: "btn btn-danger" %>
          </td>
          <td class="text-right">
            <%= f.submit '修正', class:"btn btn-primary" %>
          </td>
        </tr>
        </table>
        </div>
     </div>
    </div>
  </div>
 <% end %>
</div>
<script>
    $('#work_scheduled_time_out_1i').css('display', 'none');
    $('#work_scheduled_time_out_2i').css('display', 'none');
    $('#work_scheduled_time_out_3i').css('display', 'none');

     $(document).on('turbolinks:load', function(){
  $('#work_scheduled_time_in_1i').change(function() {
  $('#work_scheduled_time_out_1i').val($('#work_scheduled_time_in_1i').val());
  });
  $('#work_scheduled_time_in_2i').change(function() {
  $('#work_scheduled_time_out_2i').val($('#work_scheduled_time_in_2i').val());
  });
  $('#work_scheduled_time_in_3i').change(function() {
  $('#work_scheduled_time_out_3i').val($('#work_scheduled_time_in_3i').val());
  });
  });
</script>


