<h1><%= @month.strftime('%Y-%m')  %></h1>
<% [*1..12].each do |month| %>
<%= link_to "#{month} 月", charts_path(year: 2022, month: month) %>
<% end %>
<div class="table-wrap">
<table class="table">
<!-- date -->
<thead>
<tr>
<th>
  name
</th>
<% Date.current.all_month.each do |date| %>
<th><%= date.strftime('%d') %></th>
<% end %>
</tr>
</thead>
<tbody>
<% @members_scheduled.each do |scheduled| %>
<tr>
  <% scheduled.each do |s| %>
    <!-- s.first => member_id, s.last => scheduled_time -->
    <% if s.blank? %>
     <td></td>
    <% elsif s.class == String %>
     <td><%= s %></td>
    <% else %>
      <td>
        <% if WorkScheduled.find(s.first.to_i).member_id.to_i == current_member.id %>
        <span class="background_cell"><%= link_to s.last,edit_chart_path(s.first) %></span>
        <% else %>
        <span class="background_cell"><%= s.last %></span>
        <% end %>
      </td>
    <% end  %>
  <% end %>
</tr>
<% end %>
</tbody>
</table>
</div>

<style>
.table-wrap {
  overflow-x: scroll;
}
.table {
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
}
.table th,
.table td {
  border: 2px solid #eee;
  padding: 4px 8px;
}

.background_cell {
  background-color: #ccc;
}
</style>
