<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h4>登録日</h4>
    </div>
     <div class="col-md-8">
     <h4><%= l @member.created_at.in_time_zone('Tokyo'), format: :original %></h4>
     </div>
  </div>
  <div class="row">
    <div class="col-md-4">
     <h4>ID</h4>
    </div>
    <div class="col-md-8">
      <h4><%= @member.member_id %></h4>
    </div>
  </div>
    <%= form_with model: @member,  url: admins_member_path(@member) , local:true do |f| %>
      <div class="row">
      <div class="col-md-4">
      <h4>メールアドレス</h4>
      </div>
      <div class="col-md-8">
        <%= f.text_field :email, class: 'form-control' %>
      </div>
      <div class="col-md-4">
         <h4>姓</h4>
      </div>
      <div class="col-md-8">
        <%= f.text_field :first_name, class: 'form-control'%>
      </div>
      <div class="col-md-4">
       <h4>名</h4>
      </div>
      <div class="col-md-8">
        <%= f.text_field :last_name, class: 'form-control'%>
      </div>
      <div class="col-md-4">
       <h4>セイ</h4>
      </div>
      <div class="col-md-8">
      <%= f.text_field :first_name_kana, class: 'form-control'%>
      </div>
      <div class="col-md-4">
       <h4>メイ</h4>
      </div>
      <div class="col-md-8">
        <%= f.text_field :last_name_kana, class: 'form-control'%>
      </div>
      <div class="col-md-4">
        <h4>郵便番号</h4>
      </div>
      <div class="col-md-8">
        <%= f.text_field :postal_code, class: 'form-control'%>
      </div>
      <div class="col-md-4">
        <h4>住所</h4>
      </div>
      <div class="col-md-8">
        <%= f.text_field :address, class: 'form-control'%>
      </div>
      <div class="col-md-4">
        <h4>電話番号</h4>
      </div>
      <div class="col-md-8">
        <%= f.text_field :phone_number, class: 'form-control'%>
      </div>

   </div>
   <%= f.submit '修正', class: 'btn btn-primary' %>
</div>
<% end %>
