<div class="container">
     <% if admin_signed_in? %>
        <h2><%= "#{current_admin.first_name} #{current_admin.last_name}" %></h2>
    <% end %>
    <br>
    <h2>メンバー一覧</h2>
    <% if admin_signed_in? %>
        <div class="text-right mb-3">
            <%= link_to new_admins_member_path do %>
                <i class="fas fa-plus-square fa-2x"></i>
            <% end %>
        </div>
    <% end %>
    <table class="table table-hover">
        <tr>
            <th>メンバー ID</th>
            <th>名前</th>
            <th>EMAIL</th>
            <th class=>打刻カレンダー</th>
        </tr>
        <% @members.each do |member| %>
            <tr>
                <td><%= member.member_id %></td>
                <td><%= link_to admins_member_path(member) do %>
                <%= member.first_name + member.last_name %>
                <% end %>
                </td>
                <td><%= member.email %></td>
                <td class="d-flex">
                    <%= link_to admins_attendance_informations_path(member_id: member.id) do %>
                        <i class="fas fa-calendar-alt"></i>
                    <% end %>
                <% if member.applying? %>
                <div class= "mx-3"><div class="text-danger">申請あり</div></div>
                <% end %>
                </td>
            </tr>
        <% end %>
    </table>
</div>

