<div class="container">
  <div class="row">
    <div class="col-9">
      <div class="container">
  <div class="row">
    <div class="col-md-2">
      <small class="text-black-50">
       登録日
      </small>
    </div>
    <div class="col-md-10 mb-2">
      <%= l @member.created_at.in_time_zone('Tokyo'), format: :original %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <small class="text-black-50">
        メールアドレス
      </small>
    </div>
    <div class="col-md-10 mb-2">
      <%= @member.email %>
    </div>

  </div>
  <div class="row">
    <div class="col-md-2">
      <small class="text-black-50">
        姓
      </small>
    </div>
    <div class="col-md-4 mb-2">
      <%= @member.first_name %>
    </div>
    <div class="col-md-2">
      <small class="text-black-50">
        名
      </small>
    </div>
    <div class="col-md-4 mb-2">
      <%= @member.last_name %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 mb-2">
      <small class="text-black-50">
       セイ
      </small>
    </div>
    <div class="col-md-4 mb-3">
      <%= @member.first_name_kana %>
    </div>
    <div class="col-md-2 mb-2">
      <small class="text-black-50">
        メイ
      </small>
    </div>
    <div class="col-md-4 mb-3">
      <%= @member.last_name_kana %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <small class="text-black-50">
        住所
      </small>
    </div>
    <div class="col-md-10 mb-3">
      <%= @member.address %>
    </div>
  </div>
    </div>
  </div>
   <div class="col-md-3">
    <%= attachment_image_tag @member, :image, :fill, 100, 100 , fallback: "neko.jpg", size: "100x100" %>
   </div>
</div>
   <hr></hr>
    <%= form_with model: @member_new, url: member_path, method: :patch, local: :true do |f| %>
   <h4>画像</h4>
  <%= f.attachment_field :image %>
   <%= f.submit '投稿' %>
   <% end %>

    <%= form_with model: @member_new, url: member_path, method: :patch, local: :true do |f| %>
  <h4 class="mt-3">Change Password</h4>
    <div class="form-group">
      <div class="row">
        <div class="col-md-3">
          <%= f.label :password %>
        </div>
        <div class="col-md-9">
          <%= f.password_field :password, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-3">
          <%= f.label :password_confirmation %>
        </div>
        <div class="col-md-9">
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
      </div>
    </div>
    <%= f.submit 'Update Password', class: 'btn btn-danger' %>
  <% end %>
  <br>
 <div>
   <%= link_to :back do %>
  <button>戻る</button>
   <% end %>
 </div>

</div>